<div class="container col-md-6">
    <div class="card" style="margin: 10px;">
        <div class="card-header">
            <h3>Agregar Consulta</h3>
        </div>
        <div class="card-body">
            <form action="" [formGroup]="consultaForm">
                <div class="form-group">
                    <dx-text-box
                        width="100%"
                        placeholder="Descripcion"
                        [showClearButton]="true"
                        [stylingMode]="stylingMode"
                        type="text"
                        style="margin-bottom: 10px;"
                        formControlName="descripcion"
                    >
                        <dx-validator [validationRules]="[{
                            type: 'required'
                        }]"></dx-validator>
                    </dx-text-box>
                </div>
                <div class="form-group">
                    <dx-date-box
                        width="100%"
                        placeholder="Fecha de Nacimiento"
                        [showClearButton]="true"
                        [stylingMode]="stylingMode"
                        style="margin-bottom: 10px;"
                        formControlName="fecha"
                    >
                    <dx-validator [validationRules]="[{
                        type: 'required'
                    }]"></dx-validator>
                    </dx-date-box>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <dx-select-box #selectBox
                    placeholder="Asignar Paciente" 
                    [dataSource]="pacientes" 
                    displayExpr="nombre"
                    valueExpr="id"
                    [searchEnabled]="true"
                    (onItemClick)="onItemClick()">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Seleccionar Paciente"></dxi-validation-rule>
                    </dx-validator>
                    </dx-select-box>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <dx-select-box #selectBoxD
                    placeholder="Asignar Doctor" 
                    [dataSource]="doctores" 
                    displayExpr="nombre"
                    valueExpr="id"
                    [searchEnabled]="true"
                    (onItemClick)="onItemClickDoctor()">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Seleccionar Doctor"></dxi-validation-rule>
                    </dx-validator>
                    </dx-select-box>
                </div>
                <div class="col text-center">
                    <button class="btn" (click)="Nuevo()" class="btn btn-outline-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
