<div style="height: 100%;">
    <mat-toolbar>
        <button mat-button routerLink="/">Doctores</button>
        <button mat-button routerLink="/listapac">Pacientes</button>
        <button mat-button routerLink="/listacon">Consultas</button>
        <button mat-button routerLink="/agregar">Nuevo Doctor</button>
        <button mat-button routerLink="/agregarpac">Nuevo Paciente</button>
        <button mat-button routerLink="/agregarcon">Nueva Consulta</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>
